body{
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
section{
    display: flex;
}
.learning-awesome-div{
    display: flex;
    background-color: #431b93;
    color: white;
    z-index: 0;
    position: relative;
    overflow: hidden;
    width: 983px;
    /* width: 302px; */
    height: 294px;
    border-radius: 5px;
    /* border-top-right-radius: 10px ; */
    margin-right: 14px;
}
img{
    width: 320px;
    height: 294px;
    margin-left: 92px;
}
.kahoot__div{
    width: 235px;
    height: 230px;
    padding-left: 23px;
    border-top-right-radius: 12px;
}
.learning-awesome-heading{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 900;
    width: 129%;
    padding: 50px 12px 10px 0;
}
.learning-awesome-paragraph{
    color: #C2A5DF;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 600;
    width: 128%;
}
.learning-awesome-button{
    font-size: 14px;
    padding: 9px 21px;
    margin-top: 16px;
    color: #fff;
    background-color: #268906;
    cursor: pointer;
    border: 1px solid white;
    font-weight: 600;
    border-radius: 5px;
    /* border-bottom: 2px solid #248105; */
    text-decoration: none;
    text-align: center;
}
.superstar__heading{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    width: 127%;
    margin-top: 30px;
}
.superstar__div{
    background-color: #0542b9;
    z-index: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 983px;
    height: 294px;
    border-radius: 5px;
}
.superstar__paragraph{
    font-size: .875rem;
    margin-top: 0.625rem;
    color: #fff;
    width: 118%;
    line-height: 19px;
}
.superstar__link{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0 20px 0;
}